<div class='containerHome'>
    <img  src="../../../../assets/imagemfundo.jpg" alt="imagemFundo" class="fundo">
</div>
<main class="container">
    <section class="container1">
     <img src="../../../../assets/CHAPÉU SELETOR (6).png" alt="logo" class="logo">
     <p>Faça seu login</p>
     <form class="form">
        <input type="email" class="email" id="email" placeholder="Bruxo">
        <input type="senha" class="senha" id="senha" placeholder="Senha">
     </form>
     <a href="#" class="btnComecar">Entrar</a>
    </section>
</main>
