
.containerHome{
    position: absolute;

}

.fundo{
    width: 1900px;
    height:910px;

}
.logo{
    width: 300px;
    height: 300px;
    
}

.container1{
    top:200px;
    left: 50%;
    transform: translate(-50%);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    backdrop-filter: blur(10px);
    height: 500px;
    width: 350px;
    box-shadow: 3px 4px 10px 15px black;
}

p{
    color: white;
    font-family: 'chiller';
    font-size: 20px;
    
    
    
      
}

.email, .senha{
    display: block;
    border-radius: 15%;
    margin-top: 10px;
    box-shadow: 3px 4px 10px 15px black;
    font-size: medium;
    text-align: center;
    font-family: 'chiller';
    font-size: 20px;
    width: 200px;
    height: 25px;
}

.btnComecar{
   
    border-radius: 10px;
    font-family: 'chiller';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: white;
    margin-top: 15px;
    box-shadow: 3px 4px 10px 15px black;
    background: black;
}
.btnComecar:hover,
.email:hover, 
.senha:hover{
    filter: brightness(0.8);  
}