
<div class='containerHome'>
    <img  src="../../../../assets/imagemfundo.jpg" alt="imagemFundo" class="fundo">
</div>
<main class="container">
    <section class="container1">
     <img src="../../../../assets/CHAPÉU SELETOR (6).png" alt="logo" class="logo">
     <p>Faça seu login</p>
     <form class="form" (ngSubmit)="logar()">
        <input [(ngModel)]="nome" name="nome" type="text" class="email" id="usuario" placeholder="Bruxo">
        <input [(ngModel)]="senha" name="senha" type="password" class="senha" id="senha" placeholder="Senha">
     <button class="btnComecar" type="submit" name="action" >Entrar</button>
    </form>
    </section>
</main>
